{% extends "base.html" %}
{% block content %}

<div class="our-teachers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="teacher-title">Dosen Pengajar</h2>
            </div>
        </div>
        
        <div class="row">
            {% for lecturer in lecturers %}
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="our-teachers-block" onclick="window.location='{{ url_for('lecturer_detail', id=lecturer[0]) }}';" style="cursor: pointer;">
                    <img src="{{ url_for('static', filename='images/lecturers/' + lecturer[4]) if lecturer[4] else 'images/lecturers/default-lecturer.jpg' }}" 
                         class="img-fluid teachers-img" 
                         alt="{{ lecturer[1] }}"
                         onerror="this.src='{{ url_for('static', filename='images/lecturers/default-lecturer.jpg') }}'">
                    <div class="teachers-description">
                        <p><strong>{{ lecturer[1] }}</strong>
                            <br> {{ lecturer[2] }}
                        </p>
                        <hr>
                        <p>Specialization : <span>{{ lecturer[3] }}</span></p>
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="mailto:{{ lecturer[5] }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>























{% endblock %}